// ==============================
// Post blockquote
// ==============================

blockquote {
  margin: 1em auto;
  color: #555555;
  background-color: #F6F6F6;
  border-left: 4px solid #999;
  position: relative;
  font-size: $code-font-size;
  font-family: $code-font-family;
  line-height: 1.3;
  padding: 0.1em 2em;

  footer {
    color: #333333;
    margin-bottom: 1em;
  }

  cite:before {
    content: '\2014';
    padding-right: .3em;
    padding-left: .3em;
  }
}
